<h1>Log In</h1>
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt3">
            <small class="text-muted">
                If you are the administrator, you can <a class="ml-2" href="{% url 'add_user' %}">add a new user</a>
            </small>
        </div>
    </div>
{% endblock content %}