{% extends "manage_library/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap %}

{% block content %}
    {% if user.is_authenticated %}

        <h1>Book List</h1><br>


        {% if books_all %}
            <form method="GET">
            {{ filter.form|bootstrap }}
            <button type="submit" class="btn btn-dark btn-sm mt-1 mb-1">Search</button>
            </form>

            <ul>
                {% for book in filter.qs %}
                    <div style="padding: 1em; align-items: center">
                        <td>
                            <div style="flex: 1 1 300px; margin: 10px;">
                                <img style="float: left; border: 1px solid #ddd; border-radius: 1px; padding: 4px; width: 60px"
                                     src="{{ book.cover.url }}" alt=""></div>
                            <small>
                                <a href="{% url 'show-book-details' book.id %}"><i>{{ book.title }}</i></a>
                                <br>
                                <a href="{% url 'show-book-details' book.id %}"><b>{{ book.author }}</b></a>
                            </small>
                            <br>
                            <a href="{% url 'change-book-status' book.id %}">Reverse current
                                status: <b>{{ book.lending_status }}</b> </a>

                        </td>
                    </div>
                {% endfor %}<br>
            </ul>

{#            {% if is_paginated %}#}
{##}
{#                {% if page_obj.has_previous %}#}
{#                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>#}
{#                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>#}
{#                {% endif %}#}
{##}
{#                {% for num in page_obj.paginator.page_range %}#}
{#                    {% if page_obj.number == num %}#}
{#                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}#}
{#                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>#}
{#                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>#}
{#                {% endif %}#}
{##}
{#            {% endif %}#}


        {% else %}
            <p>There are no books.</p>
        {% endif %}








    {% else %}
        <h4>You cannot see books because you are not an user</h4>
        <div class="content">
            <small class="text-muted">
                Back to <a class="content-link" style="font-weight:bold" href="{% url 'main_manage_library' %}">home
                page</a><br>
                Do you want to <a class="content-link" style="font-weight:bold" href="{% url 'login' %}">log in as
                admin?</a>
            </small>
        </div>

    {% endif %}
{% endblock content %}