{% extends "manage_library/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Book details</h1><br>
    <div>
        <div style="float: right; margin-left: 1em">
            <img src="{{ object.cover.url }}" alt="">
        </div>
        <div style="text-align: justify;width: 1000px">
            <b>Title:</b> <i><b>{{ object.title }}</b></i> <br>
            <b>Author:</b> <b>{{ object.author }}</b> <br>
            <b>ISBN:</b> {{ object.isbn_number }} <br>
            <b>Note:</b> {{ object.note }} <br>
            <b>Category:</b> {{ object.category }} <br>
            <b>Shelf:</b><a href="{% url 'change-book-shelf' object.id %}"
                            style="color:green"> {{ object.shelf }}</a><br>
            <b>Lending status:</b> {{ object.lending_status }}<br>
        </div>
        <br>
    </div>

    <br>
    <br>
    <br>
    <div class="form-group">
        <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'main_manage_library' %}">Go back</a>
        <a class="btn btn-outline-info btn-sm mt-1 mb-1" type="submit" href="{% url 'book_update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'book_delete' book.id %}">Delete</a>
    </div>
    <br>
    <br>



{% endblock content %}