{% extends "manage_library/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}

        <h1>Shelf List</h1><br>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" style="margin-left: 30px" href="{% url 'add-shelf' %}">Add
                shelf</a>
        </div><br>
        {% if shelves_all %}
            <ul>
                {% for shelf in shelves_all %}
                    <div style="padding-bottom: 20px; align-items: center">
                        <td>
                            <i>{{ shelf.bookcase }}</i>, shelf name: <b>{{ shelf.name }}</b>
                        </td>
                    </div>
                {% endfor %}<br>
            </ul>
        {% else %}
            <p>There are no shelves.</p>
        {% endif %}


    {% else %}
        <h4>You cannot see rooms because you are not an user</h4>
        <div class="content">
            <small class="text-muted">
                Back to <a class="content-link" style="font-weight:bold" href="{% url 'main_manage_library' %}">home
                page</a><br>
                Do you want to <a class="content-link" style="font-weight:bold" href="{% url 'login' %}">log in as
                admin?</a>
            </small>
        </div>

    {% endif %}
{% endblock content %}